[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httmock = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
requests = "*"
dateparser = "*"
pandas = ">=1.0.0"
matplotlib = "*"
numpy = "*"

[requires]
python_version = "3.8"
