[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httmock = "*"

[packages]
retrying = "*"
requests = "*"
dateparser = "*"
pandas = ">=1.0.0"
matplotlib = "*"
numpy = "*"

[requires]
python_version = "3.6"
pandas_version = ">=1.0.0"
